<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Oxanium&display=swap" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styles.css" ype="text/css">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Edit Person</title>
</head>
<body>
    <div class="col-xs-1" align="center">
        <div class="heading">
            <img class="logo" src="/images/logo.png"/>
            <h1 class="header">Remembr</h1>
            <div class="backButton"><a type="button" class="btn btn-danger btn-lg" href="/memories/places">Back to Places</a></div>
        </div>
    <div class="container">
        <h3 class="instructions">Edit Place</h3>
        <div class="bodySpaceToUse">
            <form class="edit" action="/memories/places/<%=memory.id%>?_method=PUT" method="POST">
                <div class="form-group">
                    <label for="placeName">Place Name:</label>
                    <input type="text" class="form-control" name="placeName" value="<%=memory.placeName%>">
                </div>
                <div class="form-group">
                    <label for="placeLocation">Location:</label>
                    <input type="text" class="form-control" name="placeLocation" value="<%=memory.placeLocation%>">
                </div>
                <div class="form-group">
                    <label for="placeActivity">Activity:</label>
                    <input type="text" class="form-control" name="placeActivity" value="<%=memory.placeActivity%>">
                </div>
                <div class="form-group">
                    <label for="placeImg">Image:</label>
                    <input type="text" class="form-control" name="placeImg" value="<%=memory.placeImg%>">
                </div>
                <input class="btn btn-warning btn-lg" id="submitEdit" type="submit" name="" value="Add Place Changes">
            </form>
        </div>
    </div>
  </div>
</body>
</html>