<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Oxanium&display=swap" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styles.css" type="text/css">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Edit Person</title>
</head>
<body>
    <div class="col-xs-1" align="center">
        <div class="heading">
            <img class="logo" src="/images/logo.png"/>
            <h1 class="header">Remembr</h1>
            <div class="backButton"><a type="button" class="btn btn-warning btn-lg" href="/memories/people">Back to People</a></div>
        </div>
    <div class="container">
        <h3 class="instructions">Edit Person</h3>
        <div class="bodySpaceToUse">
            <form class="editForm" action="/memories/people/<%=people.id%>?_method=PUT" method="POST">
                <div class="form-group">
                    <label for="personName">Person Name:</label>
                    <input type="text" class="form-control" name="personName" value="<%=people.personName%>">
                </div>
                <div class="form-group">
                    <label for="personRelation">Relationship:</label>
                    <input type="text" class="form-control" name="personRelation" value="<%=people.personRelation%>">
                </div>
                <div class="form-group">
                    <label for="personImg">Image:</label>
                    <input type="text" class="form-control" name="personImg" value="<%=people.personImg%>">
                </div>
                <div class="form-group">
                    <label for="personBirthday">Birthday:</label>
                    <input type="text" class="form-control" name="personBirthday" value="<%=people.personBirthday%>">
                </div>
                <div class="form-group">
                    <label for="personNotes">Notes:</label>
                    <input type="text" class="form-control" name="personNotes" value="<%=people.personNotes%>">
                </div>
                <input class="btn btn-success btn-lg" id="submitEdit" type="submit" name="" value="Add Person Changes">
            </form>
        </div>
    </div>
  </div>
</body>
</html>