<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
    <title>Places</title>
</head>
<body>
    <% if(currentUser) { %>
    <div class="col-xs-1" align="center">
        <div class="heading">
            <%- include('../partials/title.ejs') %>
            <div class="homeButton"><a type="button" class="btn btn-warning btn-lg" href="/remembr">Return to Home Page</a></div>
        </div>
        <div class="container-flex">
            <h2>Community Events</h2>
            <h3 id="categoryIntro">Find and share senior friendly upcoming events in your community to work on hobbies, discover new ones, and expand your circle.</h3>
            <div class="newItemButton"><a type="button" class="btn btn-warning btn-lg btn-block" href="/memories/occassions/new">Share A New Event</a></div>
            <div class="cardsContainer">
                    <% occassions.forEach(function(occassions) { %>
                        <div class="occassionsItem">
                            <div id="occassionName"><a href="/memories/occassions/<%=occassions.id%>"><%= occassions.occassionName %></a></div>
                            <div id="occassionDate"><%=occassions.occassionDate %></div>
                            <div id="occassionPlace"><%=occassions.occassionPlace %></div>
                            <form class="deleteEvent" action="/memories/occassions/<%=occassions.id%>?_method=DELETE" method="POST">
                                <div class="occassionCompleteButton"><input type="submit" type="button" class="btn btn-danger btn-block" value="Event Over"></div>
                            </form> 
                        </div>
                    <% }); %>
                </div>
        </div>
    </div>
    <%- include('../partials/footer.ejs') %>
    <% } else { %>
        <%- include('../partials/newsession.ejs') %>
    <% } %>
</body>
</html>