<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Oxanium&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>People</title>
</head>
<body>
    <div class="col-xs-1" align="center">
        <div class="heading">
            <img class="logo" src="/images/logo.png"/>
            <h1 class="header">Remembr</h1>
            <div class="homeButton"><a type="button" class="btn btn-warning btn-lg" href="/memories">Return to Home Page</a></div>
        </div>
        <div class="container-flex">
            <h2>My People</h2>
            <div class="newItemButton"><a type="button" class="btn btn-warning btn-lg btn-block" href="/memories/people/new">Add A Person</a></div>
            <div class="container-flex">
                    <% people.forEach(function(people) { %>
                    <div class="personItem">
                        <div class="personName"><a href="/memories/people/<%=people.id%>"><p><%= people.personName %> </p></a></div>
                        <a href="/memories/people/<%=people.id%>"><img src="<%= people.personImg %>" alt="<%= people.personName %>" class="peoplePicture"></a>
                        <div class="personRelation"><%=people.personRelation %></div>
                    </div>
                    <% }); %>
                </div>
        </div>
    </div>
</body>
</html>