<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
    <title>People</title>
</head>
<body>
    <% if(currentUser) { %>
    <div class="col-xs-1" align="center">
        <div class="heading">
            <%- include('../partials/title.ejs') %>
            <div class="homeButton"><a type="button" class="btn btn-warning btn-lg" href="/home">Return to Home Page</a></div>
        </div>
        <div class="container-flex">
            <h2>Community Network</h2>
            <div class="newItemButton"><a type="button" class="btn btn-warning btn-lg btn-block" href="/memories/people/new">Expand The Network</a></div>
            <div class="container-flex">
                    <% people.forEach(function(people) { %>
                    <div class="personItem">
                        <div class="personName"><a href="/memories/people/<%=people.id%>"><p><%= people.personName %> </p></a></div>
                        <div class="peoplePictureContainer"><a href="/memories/people/<%=people.id%>"><img src="<%= people.personImg %>" alt="<%= people.personName %>" class="img-fluid"></a></div>
                        <div class="personRelation"><%=people.personRelation %></div>
                    </div>
                    <% }); %>
                </div>
        </div>
    </div>
    <%- include('../partials/footer.ejs') %>
    <% } else { %>
        <%- include('../partials/newsession.ejs') %>
    <% } %>
</body>
</html>