<meta http-equiv="X-UA-Compatible" content="ie=edge">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Oxanium&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>People</title>
</head>
<body>
    <div class="col-xs-1" align="center">
        <div class="heading">
            <h1 class="header">Remembr</h1>
        </div>
        <div class="container">
            <h2>My People</h2>
            <div class="newItemButton"><a type="button" class="btn btn-danger btn-lg" href="/memories/people/new">Add A Person</a></div>
            <div class="cardsContainer">
                    <% memories.forEach(function(memory) { %>
                    <div class="peopleItem">
                        <div class="personName"><a href="/memories/people/<%=memory.id%>"><h5><%= memory.personName %> </h5></a></div>
                        <div class="personImage"><a href="/memories/people/<%=memory.id%>"><img src="<%= memory.personImg %>" class="img-fluid" alt="<%= memory.personName %>"></a></div>
                        <div class="personRelation"><%=memory.personRelation %></div>
                    </div>
                    <% }); %>
                </div>
        </div>
    </div>
</body>
</html>