<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Oxanium&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>People</title>
</head>
<body>
    <% if(currentUser) { %>
    <div class="col-xs-1" align="center">
        <div class="heading">
            <img class="logo" src="/images/logo.png"/>
            <h1 class="header">Remembr</h1>
            <div class="backButton"><a type="button" class="btn btn-warning btn-lg" href="/memories/occassions">Return to Occassions</a></div>
        </div>
        <div class="occassionContainer">
                <div class="placeSelected">
                    <h4 class="category">Occassion Name:</h4>
                    <p class="description"><%=occassions.occassionName %></p>
                    <h4 class="category">Date:</h4>
                    <p class="description"><%=occassions.occassionDate %></p>
                    <h4 class="category">Importance:</h4>
                    <p class="description"><%=occassions.occassionImportance %></p>
                    <h4 class="category">Notes:</h4>
                    <p class="description"><%=occassions.occassionNotes %></p>
                    <div class="edit"><a type="button" class="btn btn-primary btn-lg btn-block" href="/memories/occassions/<%=occassions.id%>/edit">Edit</a></div>             
                    <form class="delete" action="/memories/occassions/<%=occassions.id%>?_method=DELETE" method="POST">
                        <div class="deleteButton"><input type="submit" type="button" class="btn btn-danger btn-lg btn-block" value="Delete"></div>
                    </form>             
                </div>
            </div>  
        </div>
    </div>
    <% } else { %>
        <h1>User must be logged in</h1>
    <% } %>
</body>
</html>