<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
    <title>People</title>
</head>
<body>
    <% if(currentUser) { %>
    <div class="col-xs-1" align="center">
        <div class="heading">
            <%- include('../partials/title.ejs') %>
            <div class="backButton"><a type="button" class="btn btn-warning btn-lg" href="/memories/occassions">Return to Occassions</a></div>
        </div>
        <div class="occassionContainer">
                <div class="placeSelected">
                    <h4 class="category">Event Name:</h4>
                    <p class="description"><%=occassions.occassionName %></p>
                    <h4 class="category">Date:</h4>
                    <p class="description"><%=occassions.occassionDate %></p>
                    <h4 class="category">Location:</h4>
                    <p class="description"><%=occassions.occassionPlace %></p>
                    <h4 class="category">Notes:</h4>
                    <p class="description"><%=occassions.occassionNotes %></p>
                    <div class="edit"><a type="button" class="btn btn-primary btn-lg btn-block" href="/memories/occassions/<%=occassions.id%>/edit">Edit</a></div>             
                    <form class="delete" action="/memories/occassions/<%=occassions.id%>?_method=DELETE" method="POST">
                        <div class="deleteButton"><input type="submit" type="button" class="btn btn-danger btn-lg btn-block" value="Delete"></div>
                    </form>             
                </div>
            </div>  
        </div>
    </div>
    <%- include('../partials/footer.ejs') %>
    <% } else { %>
        <%- include('../partials/newsession.ejs') %>
    <% } %>
</body>
</html>