<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Oxanium&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>People</title>
</head>
<body>
    <div class="col-xs-1" align="center">
        <div class="heading">
            <img class="logo" src="/images/logo.png"/>
            <h1 class="header">Remembr</h1>
            <div class="backButton"><a type="button" class="btn btn-warning btn-lg" href="/memories/people">Back to People</a></div>
        </div>
        <div class="personContainer">
                <div class="personSelected">
                    <h4 class="category">Name:</h4>
                    <p class="description"><%=people.personName %></p>
                    <img class="personImage"src="<%= people.personImg %>" class="img-fluid" alt="<%= people.personName %>">
                    <h4 class="category">Relationship:</h4>
                    <p class="description"><%=people.personRelation %></p>
                    <h4 class="category">Birthday:</h4>
                    <p class="description"><%=people.personBirthday %></p>
                    <h4 class="category">Notes:</h4>
                    <p class="description"><%=people.personNotes %></p>
                    <div class="edit"><a type="button" class="btn btn-primary btn-lg btn-block" href="/memories/people/<%=people.id%>/edit">Edit</a></div>             
                    <form class="delete" action="/memories/people/<%=people.id%>?_method=DELETE" method="POST">
                        <div class="deleteButton"><input type="submit" type="button" class="btn btn-danger btn-lg btn-block" value="Delete"></div>
                    </form>             
                </div>
            </div>  
        </div>
    </div>
</body>
</html>