<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
    <title>People</title>
</head>
<body>
    <% if(currentUser) { %>
    <div class="col-xs-1" align="center">
        <div class="heading">
            <%- include('../partials/title.ejs') %>
            <div class="backButton"><a type="button" class="btn btn-warning btn-lg" href="/memories/people">Back to People</a></div>
        </div>
        <div class="personContainer">
                <div class="personSelected">
                    <h4 class="category">Name:</h4>
                    <p class="description"><%=people.personName %></p>
                    <div class="personImage"><img src="<%= people.personImg %>" alt="<%= people.personName %>" class="img-fluid"></div>
                    <h4 class="category">Profession:</h4>
                    <p class="description"><%=people.personProfession %></p>
                    <h4 class="category">Birthday:</h4>
                    <p class="description"><%=people.personBirthday %></p>
                    <h4 class="category">Phone:</h4>
                    <p class="description"><%=people.personPhone %></p>
                    <h4 class="category">Introduction:</h4>
                    <p class="description"><%=people.personIntro %></p>
                    <div class="edit"><a type="button" class="btn btn-primary btn-lg btn-block" href="/memories/people/<%=people.id%>/edit">Edit</a></div>             
                    <form class="delete" action="/memories/people/<%=people.id%>?_method=DELETE" method="POST">
                        <div class="deleteButton"><input type="submit" type="button" class="btn btn-danger btn-lg btn-block" value="Delete"></div>
                    </form>             
                </div>
            </div>  
        </div>
    </div>
    <%- include('../partials/footer.ejs') %>
    <% } else { %>
        <%- include('../partials/newsession.ejs') %>
    <% } %>
</body>
</html>